<<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head')%>
    <title>Simple Calculator</title>
  </head>
  <body>
    <%- include('../partials/calculator')%>
    
    <%- include('../partials/script') %>
  </body>
</html>